.bigArticleMid {
  width: 771px;
  height: 475px;
  border-radius: 10px;
}

.bigArticleMid__bigImage {
  position: absolute;
  max-width: 100%;
  border-radius: 10px;
  left: 0;
}

.bigArticleMid__icon {
  display: inline-block;
  position: absolute;
  left: 50px;
  margin-top: 50px;
}

.bigArticleMid__iconText {
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 11px;
  left: 90px;
  margin-top: 50px;
}

.bigArticleMid__heading {
  display: inline-block;
  position: absolute;
  font-size: 48px;
  color: white;
  width: 354px;
  text-align: left;
  line-height: 1;
  left: 50px;
  margin-top: 260px;
}

.bigArticleMid__text {
  display: inline-block;
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: 100;
  width: 397px;
  text-align: left;
  left: 50px;
  margin-top: 370px;
}